<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/style1.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Page</title>
</head>



<body
    style="background: url(https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg); background-size: 100%;">


    <div class="container">
        <div class="container">

            <!-- responsive images -->
            <div class="row">
                <div class="white-text center-align">
                    <h2>Galactic Voyager</h2>
                </div>
            </div>
            <!-- <img src="../../Desktop/project 2 playground/public/images/spaceicon.svg" alt="" class="responsive-img "> -->

        </div>



        <div class="container center white-text">

            <div class="row">
                <a class="btn-floating pulse #1565c0 teal lighten-3" href="#"></a> VIEW YOUR DESTINATION
            </div>

            <div class="row">
                <a class="btn-floating pulse btn-large #1565c0 blue lighten-1" href="#"></a> TAKE A TRIP
            </div>

        </div>

        <!-- <div class="container center white-text">

            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">Take a Trip</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">View your Destinations</a>
            </div>
        </div>
    </div> -->

    </div>







    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>  $(document).ready(function () {
            $('.sidenav').sidenav();
        });</script>


</body>

</html>