<div class="container">
  <div class="container">

    <!-- responsive images -->
    <div id="header" class="row">
      <div class="section">
        <div class="white-text center-align">
          <h2>Galactic Voyager</h2>
        </div>
      </div>
    </div>
    

  </div>



  <div id="front-page" class="container center white-text">
    <div class="section">
      <div class="row">
        <a class="btn-floating pulse #1565c0 teal lighten-3" href="/form"></a> VIEW YOUR DESTINATION
      </div>
    </div>

    {{!-- show the planets to the user, which will orbit around the sun --}}
    <div class="row">
      <div class="section">
        <a class="btn-floating pulse btn-large #1565c0 blue lighten-1" id="planet-btn" href="#"></a> TAKE A TRIP
      </div>
    </div>

  

  </div>

  <div id="planet-div">
    <div class="planet" id="sun"></div>
    <div id="planets"></div>
  </div>



<!-- The Modal -->
<div id="planetFacts" class="modal">

  <!-- Modal content -->
  <div class="modal-header">
    <span class="close">&times;</span>
    <div class="planetHeader"></div>
  </div>

  <div class="modal-content">
    
      
      <div class="planetPicture"></div>
      <div class="planetInfo"></div>
  <br>
  <a href="/form">Click here to fill out form</a>
    
  </div>

</div>

  <!-- <div class="container center white-text">

            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">Take a Trip</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">View your Destinations</a>
            </div>
        </div>
    </div> -->


</div>
