<div class="container">
  <div class="container">

    <!-- responsive images -->
    <div class="row">
      <div class="section">
        <div class="white-text center-align">
          <h2>Galactic Voyager</h2>
        </div>
      </div>
    </div>
    <!-- <img src="../../Desktop/project 2 playground/public/images/spaceicon.svg" alt="" class="responsive-img "> -->

  </div>



  <div class="container center white-text">
    <div class="section">
      <div class="row">
        <a class="btn-floating pulse #1565c0 teal lighten-3" href="#"></a> VIEW YOUR DESTINATION
      </div>
    </div>

    <div class="row">
      <div class="section">
        <a class="btn-floating pulse btn-large #1565c0 blue lighten-1" href="#"></a> TAKE A TRIP
      </div>
    </div>

  </div>

  <!-- <div class="container center white-text">

            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">Take a Trip</a>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn-large #1565c0 blue lighten-1" href="#">View your Destinations</a>
            </div>
        </div>
    </div> -->


</div>