
<div class="row v-align-middle">
    <div class="col s12 m4 offset-m4">
        <div class="card">
            <div class="card-action #0d47a1 blue darken-4 white-text">
                <h6>Trip From</h6>
            </div>
            <div class="card-content text-white">
                <div class="form-field">
                    <label for="username">astronaut</label>
                    <input type="text" id="username">
                </div><br>

                <div class="form-field">
                    <label for="username">planet</label>
                    <select name="chooseplanet">
                        <option style="color: grey" value="" disabled selected>Choose your planet here</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Venus">Venus</option>
                        <option value="Mars">Mars</option>
                        <option value="Jupiter">Jupiter</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Uranus">Uranus</option>
                        <option value="Neptune">Neptune</option>
                        <option value="Pluto">Pluto</option>
                    </select>
                </div><br>

                <div class="form-field">
                    <label for="username">space-craft</label>
                    <select name="choosespacecraft">
                        <option style="color: grey" value="" disabled selected>Choose your space craft here</option>
                        <option value="Vostok">Vostok</option>
                        <option value="Voyager1">Voyager1</option>
                        <option value="Mayflower">Mayflower</option>
                        <option value="Serenity">Serenity</option>
                        <option value="Scorpio">Scorpio</option>
                    </select>
                </div><br><br>

                <div class="form-field">
                    <label>
                        <input id='returnTrip' type="checkbox" class="filled-in" id="return-trip" />
                        <span>Return Trip</span>
                    </label>

                </div><br><br>

                <div class="form-field">
                    <button class="btn-large waves-effect  #0d47a1 blue darken-4" id="submitform">Submit</button>
                </div><br>


            </div>
        </div>
    </div>
</div>
</div>
</div>