.list-group-item {
  line-height: 2.5;
}



body {
background-image: url(https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg); background-size: 100%;

}

/* ----------------------------------- M O D A L -------------------------------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 20%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: lightgray;
  opacity: .8;
}

.modal-header {
  padding: 12px 18px;
  background-color: teal;
  color: white;
  
}

/* Modal Content */
/* .modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  background-color: white;
  opacity: .9;
} */

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* ----------------------------------- M I S C -------------------------------------- */
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  font-size: 100px;
}

#pause {
color: white;
position: sticky;
top: 1000px;
}

#fact-panel {
    background-color: aquamarine;
    padding: 50px;
    height: 500px;
}

/* ----------------------------------- P L A N E T S -------------------------------------- */


.planet {
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  border-radius: 50%;
}

#sun {
  --size: 100px;
  --push: 0px;
  background: linear-gradient(45deg, goldenrod, yellow);
  animation: orbit 1s infinite linear;
}

#Mercury {
  --size: 8px;
  --push: 80px;
  background-image: linear-gradient(yellow, red);
  animation: orbit 15s infinite linear;
}

#Venus {
  --size: 11px;
  --push: 120px;
  background-image: linear-gradient(orange, yellow);
  animation: orbit 20s infinite linear;
}

#Earth {
  --size: 20px;
  --push: 160px;
  background-image: linear-gradient(blue, green);
  animation: orbit 24s infinite linear;
}

#Mars {
  --size: 15px;
  --push: 200px;
  background-image: linear-gradient(orange, brown);
  animation: orbit 30s infinite linear;
}

#Jupiter {
  --size: 70px;
  --push: 260px;
  background-image: linear-gradient(orange, red, orange,red, orange);
  animation: orbit 40s infinite linear;
}

#Saturn {
  --size: 45px;
  --push: 320px;
  background-image: linear-gradient(rgb(255, 153, 0), yellow);
  animation: orbit 50s infinite linear;
}


#Uranus {
  --size: 30px;
  --push: 360px;
  background-image: radial-gradient(turquoise, whitesmoke);
  animation: orbit 60s infinite linear;
}

#Neptune {
  --size: 30px;
  --push: 400px;
  background-image: radial-gradient(turquoise,grey);
  animation: orbit 70s infinite linear;
}

#Pluto {
  --size: 5px;
  --push: 460px;
  background-image: radial-gradient(turquoise,grey);
  animation: orbit 87s infinite linear;
}

@keyframes orbit {
  from {
    transform: rotate(0) translateX(var(--push));
  }

  to {
    transform: rotate(360deg) translateX(var(--push));
  }
}



/* -----------------------------------I N P U T  F O R M -------------------------------------- */

.card-content{
  background-color: rgba(0,0,0,.1);
}


.card{
  margin-top: 50px;
  background-color: rgba(0,0,0,.6);
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0d47a1;
  background-color: #0d47a1;
  z-index: 0;
}

.card .card-action {
  background-color: inherit;
  opacity: .7;
  border-top: 1px solid rgba(160,160,160,0.2);
  position: relative;
  padding: 16px 24px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #ffffff;
     
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.dropdown-content {
  background-color: rgba(5, 5, 5, .9);
  margin: 0;
  display: none;
  min-width: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

input#username{
  background-color: rgba(0,0,0,.6);
}

.select-wrapper input.select-dropdown {
  color: lightgrey;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}


input#username {
  background-color: rgba(0,0,0,.6);
}
